@font-face {
  font-family: 'icomoon';
  src:  url("");
  src:  url("") format('embedded-opentype'),
    url("icomoon.woff2") format('woff2'),
    url("icomoon.ttf") format('truetype'),
    url("icomoon.woff") format('woff'),
    url("") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acorn:before {
  content: "\e917";
}
.icon-nafcu:before {
  content: "\e918";
}
.icon-fighting-blindness:before {
  content: "\e92f";
}
.icon-somos:before {
  content: "\e99c";
}
.icon-accordion:before {
  content: "\e91f";
}
.icon-acog:before {
  content: "\e920";
}
.icon-adl:before {
  content: "\e921";
}
.icon-akf:before {
  content: "\e922";
}
.icon-annual-reviews:before {
  content: "\e923";
}
.icon-asco:before {
  content: "\e924";
}
.icon-ashp:before {
  content: "\e925";
}
.icon-brightview:before {
  content: "\e926";
}
.icon-capitol-riverfront:before {
  content: "\e927";
}
.icon-cfp:before {
  content: "\e928";
}
.icon-clia:before {
  content: "\e929";
}
.icon-common-app:before {
  content: "\e92a";
}
.icon-conquer-cancer:before {
  content: "\e92b";
}
.icon-davis:before {
  content: "\e92c";
}
.icon-defenders-of-wildlife:before {
  content: "\e92d";
}
.icon-edelman:before {
  content: "\e92e";
}
.icon-first-foundation:before {
  content: "\e96e";
}
.icon-georgetown:before {
  content: "\e96f";
}
.icon-irex:before {
  content: "\e970";
}
.icon-knowable:before {
  content: "\e971";
}
.icon-lta:before {
  content: "\e972";
}
.icon-lupus:before {
  content: "\e973";
}
.icon-maximus:before {
  content: "\e974";
}
.icon-rcn:before {
  content: "\e998";
}
.icon-red-cross:before {
  content: "\e999";
}
.icon-rvia:before {
  content: "\e99a";
}
.icon-smithsonian:before {
  content: "\e99b";
}
.icon-special-olympics:before {
  content: "\e99d";
}
.icon-tempus:before {
  content: "\e99e";
}
.icon-touchstone:before {
  content: "\e99f";
}
.icon-union-plus:before {
  content: "\e9a0";
}
.icon-wilderness:before {
  content: "\e9a1";
}
.icon-wilson-center:before {
  content: "\e9a2";
}
.icon-wwf:before {
  content: "\e9a3";
}
.icon-double-quote:before {
  content: "\e916";
}
.icon-bike:before {
  content: "\e911";
}
.icon-happy-hour:before {
  content: "\e912";
}
.icon-lunch-train:before {
  content: "\e913";
}
.icon-map:before {
  content: "\e914";
}
.icon-profit-sharing:before {
  content: "\e915";
}
.icon-caret-left:before {
  content: "\e901";
}
.icon-caret-right:before {
  content: "\e910";
}
.icon-dividend:before {
  content: "\e908";
}
.icon-dollar:before {
  content: "\e909";
}
.icon-gym:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e90b";
}
.icon-house:before {
  content: "\e90c";
}
.icon-plane:before {
  content: "\e90d";
}
.icon-sad:before {
  content: "\e90e";
}
.icon-wrench:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e900";
}
